@*
----------------------------------------------------------------------------
Copyright (c) Microsoft Corporation.
Licensed under the MIT license.
----------------------------------------------------------------------------
*@

@model AppOwnsData.Models.TileEmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Embedded Tile</h2>
<div>
    The following tile is the first tile found in the first dashboard in given group. Please feel free to change the code to match your needs.
</div>
<div id="tileContainer"></div>

@if (string.IsNullOrEmpty(Model.EmbedUrl))
{
    return;
}

<div class="infoBox">
    Code is in files:<br />
    1) HomeController.cs<br />
    2) EmbedService.cs<br />
    3) EmbedTile.cshtml
</div>

@Html.Partial("AdditionalLinks")

<script>

    // Get a reference to the embedded tile HTML element
    const tileContainer = $('#tileContainer')[0];

    // Read embed application token from Model
    const accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    const embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read tile Id from Model
    const embedTileId = "@Model.TileId";

    // Read dashboard Id from Model
    const embedDashboardeId = "@Model.DashboardId";

    // Use the token expiry to regenerate Embed token for seamless end user experience
    // Refer https://aka.ms/RefreshEmbedToken
    const tokenExpiry = "@Model.EmbedToken.Expiration";

    // Get models. models contains enums that can be used.
    const models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    const config = {
        type: 'tile',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedTileId,
        dashboardId: embedDashboardeId
    };

    // Embed the tile and display it within the div container.
    const tile = powerbi.embed(tileContainer, config);
</script>